body
{
    height: 100%;
    margin: 0;
    background-color: #28aad5;
}

#app
{
    position: absolute;
    top: 50%;
    right:0;
    left: 0;
    width: 200px;
    height: 20px;
    margin: 0 auto;
    
}

.button
{
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s ease width;
}

.button:last-child
{
    margin-right: 0;
}

.button.active
{
    width: 30px;
    cursor: auto;
}
